:root {
  --border--color: #f2f2f2;
  --h--color: #4d4d4d;
}
@import "~bootstrap/scss/bootstrap.scss";

// Base
@import './styles/base/variables';
@import './styles/base/mixins';
@import './styles/base/base';

// Blocks
@import './styles/blocks/header';
@import './styles/blocks/header-select';
@import './styles/blocks/header-link';
@import './styles/blocks/header-nav';
@import './styles/blocks/header-mega-menu-link';
@import './styles/blocks/nav-dropdown';
@import './styles/blocks/carousel';
@import './styles/blocks/carousel-theme';
@import './styles/blocks/promo-section';
@import './styles/blocks/promo-section-item';
@import './styles/blocks/main';
@import './styles/blocks/navigation';
@import './styles/blocks/info-block';
@import './styles/blocks/tabs';
@import './styles/blocks/card';

// Forms (Our)
@import "./styles/form/form";

* {
  outline: none;
}
.invalid {
  color: red;
}
.mt-10 {
  margin-top: 100px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
