// Fonts - OpenSans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  //transition: .5s;
  outline: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

:root {
  // Colors used
  --brught-color: #4ECDC4;
  --black-color: #292F36;
  --turquoise-color: #F7FFF7;
  --pink-color: #FF6B6B;
  --yellow-color: #FFE66D;
}
a {text-decoration: none}
input {outline: none}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.d-f {
  display: flex;
}

.ju-c {
  justify-content: center;
}

.ju-sb {
  justify-content: space-between;
}

.al-c {
  align-items: center;
}
.al-fs {
  align-items: flex-start;
}

.fl-c {
  flex-direction: column;
}
.fl-w {
  flex-wrap: wrap;
}
.mt-3 {
  margin-top: 30px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-1 {
  margin-right: 10px;
}
.m-0-auto {
  margin: 0 auto;
}
//// Includes
@import "assets/styles/main/header/header.scss";


@media (max-width: 950px) {
  .container {
    padding: 0 15px;
  }
}
