.header__advertising {
  background: #e9f2ff;
}

.header__main {
  height: 76px;
  background: #fff;
}

.header__title a {
  color: black;
  font-size: 30px;
  white-space: nowrap;
}

.header__catalog {
  background: var(--yellow-color);
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
  transition: .3s;
  margin-left: 30px;

  &:hover {
    background: gold;
  }
}

.catalogLogo {
  cursor: pointer;
  margin-right: 10px;

  div {
    width: 21px;
    height: 2px;
    background: var(--black-color);
    transition: .3s;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.catalogText {
  font-size: 20px;
  font-weight: 700;
  color: var(--black-color);
}

.header__search {
  margin-left: 30px;
  min-width: 260px;
  width: 450px;

  input[type="search"] {
    padding: 13px;
    border-radius: 5px 0 0 5px;
    border: 2px solid var(--yellow-color);
    width: 100%;
  }

  input[type='submit'] {
    cursor: pointer;
    padding: 13px;
    background: var(--yellow-color);
    border: none;
    color: var(--black-color);
    font-size: 15px;
    font-weight: 800;
    border-radius: 0 5px 5px 0;
  }
}

.icon_item {
  margin-left: 20px;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    font-size: 13px;
    margin-top: 5px;
  }

  &:hover {
    svg, span {
      color: var(--pink-color);
    }
  }
}

.header__button {
  margin-left: 30px;

  a {
    padding: 10px 28px;
    color: var(--black-color);
    background: var(--turquoise-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
}

.header__side {
  box-shadow: 0 6px 5px rgba(0, 0, 0, .01);
  height: 46px;
}

.side__marker {
  cursor: pointer;

  &:hover {
    span, svg {
      color: var(--pink-color);
    }
  }

  svg {
    width: 15px;
    margin-right: 10px;
  }

  span {
    margin-top: 4px;
  }
}

.side__categories {
  margin-left: 120px;

  a {
    margin-right: 15px;
    color: var(--black-color);
    white-space: nowrap;

    &:hover {
      color: var(--brught-color);
    }
  }
}

.start_sell {
  color: var(--brught-color) !important;
  margin-left: 25px;
}

.active__catalog_1 {
  transform: rotate(45deg) translateY(4px);
}

.active__catalog_2 {
  display: none;
}

.active__catalog_3 {
  transform: rotate(-45deg) translateY(-4.2px);
}

.active__category {
  background: #dfe6e9;
}

.active__layout {
  display: block !important;
}

@keyframes layoutAnimate {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.header__layoutWrapper {
  height: 500px;
  width: 100%;
  background: #fff;
  z-index: 1;
  position: absolute;
  display: none;
  animation: layoutAnimate .3s;
}

.wrap__categories {
  min-width: 250px;
  height: 100%;
  border-right: 1px solid #dfe6e9;
}

.wrap__subcategories {
  padding: 10px 25px;
  width: 900px;
  .category___title {
    color: var(--black-color);
    font-size: 30px;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      color: var(--pink-color);
    }
  }
}

.item_category {
  padding: 9px 8px;
  position: relative;
  border-radius: 5px;

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background: #dfe6e9;
  }

  &:after {
    position: absolute;
    right: 5px;
    content: "";
    width: 24px;
    height: 24px;
    opacity: .2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbC1vcGFjaXR5PSIuOSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTAgMjBsLTEuNC0xLjQgNi42LTYuNi02LjYtNi42TDEwIDRsOCA4eiIvPjwvc3ZnPg==);
  }

  span {
    margin-left: 8px;
    color: var(--black-color);
    font-size: 14px;
  }
}
.sub__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 10px;
  &:hover {
    color: var(--pink-color);
  }
}
.sub__block {
  margin-top: 10px;
}
.sub__items {
  a {
    color: var(--black-color);
    font-size: 16px;
    margin-top: 7px;
    &:hover {
      color: var(--pink-color);
    }
  }
}
// Media
@media (max-width: 1200px) {
  .icon_item {
    margin-left: 15px;

    span {
      display: none;
    }
  }
}

@media(max-width: 1300px) {
  .side__categories {
    a:nth-child(6), a:nth-child(7) {
      display: none;
    }
  }
}

@media(max-width: 1100px) {
  .side__categories {
    a:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .header__catalog, .header__search, .header__button {
    margin-left: 15px;
  }
  .header__advertising div {
    justify-content: start;
    margin: 0 auto;

    img {
      width: 900px;
    }
  }
  .side__categories {
    a:nth-child(4) {
      display: none;
    }
  }
}
